/* Color Palette */
:root {
    --primary-color: rgb(4, 47, 71);
    --secondary-color: #FFC107;
    --background-color: #F8F9FA;
    --text-color: #1b1d1f;
    --headings-font: "Cinzel", serif;
    --text-fonts: "Quicksand", sans-serif;
}

/* Global Styles */
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--text-fonts);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: white;
    padding: 1rem;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

#menu-btn {
    display: none;
    background: none;
    border: none;
    width: 100%;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.logo img {
    height: 40px;
    margin: 2rem 3rem 1rem 0;
}

header h2 {
    font-family: var(--headings-font);
    font-size: large;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

#main-nav a.active {
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--text-color);
    font-weight: bold;
}

#main-nav a:hover {
    background: var(--background-color);
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 5px;
}

#hero {
    font-family: var(--headings-font);
    text-align: center;
    background: var(--primary-color);
    color: aliceblue;

}

/* Home Page */

.hero {
    font-family: var(--headings-font);
    text-align: center;
    background: var(--primary-color);
    color: aliceblue;

}

.hero h2 {
    padding: 1rem 0 1.5rem 0;
}

.floating-btn {
    position: absolute;
    bottom: 60%;
    right: 2%;
    transform: translateX(-50%);
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 650;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.floating-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: var(--headings-font);
    
}

.main-event {
    background-color: rgb(236, 236, 214);
    margin: 0.5rem;
    border-radius: 10px;
}

.main-event h3, p {
    font-family: var(--text-fonts);
}

.main-event p {
    padding: 1rem;
}

.main-event span {
    color: blue;
    text-decoration: underline;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    text-align: justify;
    justify-content: center;
    padding: 0.8rem;
}

.banner img {
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-weather {
    background-color: antiquewhite;
    margin: 0.5rem;
    text-align: center;
    border-radius: 10px;
}

#forecast {
    column-count: 3;
}

#forecast h2 {
    column-span: all;
    column-gap: 10px;
    text-align: center;
}  

#forecast {
    background-color: antiquewhite;
    margin: 0.5rem;
    text-align: center;
    border-radius: 10px;
    font-family: var(--headings-font);
}

.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-family: var(--text-fonts);
    
}

.spotlights h2 {
    font-family: var(--headings-font);
    padding-top: 2rem;
}

#spotlight-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-around;
}

.spotlight-card {
    background: linear-gradient(rgba(10, 1, 53, 0.253), rgba(71, 140, 184, 0.295));
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spotlight-card:hover {
    background: linear-gradient(rgba(10, 1, 53), rgb(0, 123, 255));
    color: white;
}

.spotlight-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Directory Page */

#view-buttons button {
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}

#business-directory {
    padding: 2rem;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.list-view table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.list-view th,
.list-view td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--text-color);
    overflow: hidden;
    
}

.list-view th {
    text-align: center; 
    background-color: var(--primary-color);
    font-family: var(--headings-font);
    color: white;
    font-size: large;
}

.list-view th:nth-child(1),
.list-view td:nth-child(1) {
    width: 20%;
}

.list-view th:nth-child(2),
.list-view td:nth-child(2) {
    width: 25%;
}

.list-view th:nth-child(3),
.list-view td:nth-child(3) {
    width: 15%;
}

.list-view th:nth-child(4),
.list-view td:nth-child(4) {
    width: 30%;
}

.list-view th:nth-child(5),
.list-view td:nth-child(5) {
    width: 18%;
    text-align: center;
}

.list-view tr:hover {
    background: linear-gradient(rgba(10, 1, 53), rgb(0, 123, 255));
    color: white;
}

.business-card {
    background: linear-gradient(rgba(10, 1, 53, 0.253), rgba(71, 140, 184, 0.295));
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.business-card:hover {
    background: linear-gradient(rgba(10, 1, 53), rgb(0, 123, 255));
    color: white;
}

.business-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--primary-color);
    color: white;
}